.heading {
  font-weight: 600;
  margin: 1rem;
  margin-bottom: 1.4rem;
  width: 50%;
  border-radius: 1rem;
  border: 1px solid black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  background-color: white;
}