.mainContainer{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.container{
  margin: 1rem;
  padding: 1rem;
  width: 65%;
  border: 2px solid black;
  border-radius: 1rem;
  text-align: center;
  background-color: lightblue;  
  display: flex;
  flex-direction: column;
  align-items: center;
}